<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Nito.Async"
                                  publicKeyToken="3206e950277c1912"
                                  culture="neutral" />
                <bindingRedirect oldVersion="1.0.0.0-1.2.0.0"
                                 newVersion="1.3.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>